apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotnet-memory-leak-app
  namespace: dotnet-memory-leak-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dotnet-memory-leak-app
  template:
    metadata:
      labels:
        app: dotnet-memory-leak-app
    spec:
      shareProcessNamespace: false
      serviceAccountName: dotnet-app-sa
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        fsGroup: 1000
      volumes:
        - name: dump-storage
          persistentVolumeClaim:
            claimName: dotnet-memory-leak-dumps
      containers:
        - name: dotnet-app
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            runAsUser: 1000
            runAsGroup: 1000
          image: quay.io/rhn_support_arolivei/dotnet-memory-leak-app:v1-base
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8881
              name: http
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:8881"
            - name: DOTNET_DbgEnableMiniDump
              value: "1"
            - name: DOTNET_DbgMiniDumpType
              value: "2"
            - name: DOTNET_DbgMiniDumpName
              value: "/dumps/core.%e.%p.%t.dmp"
          volumeMounts:
            - mountPath: /dumps
              name: dump-storage
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "2Gi"
