apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotnet-memory-leak-app
  namespace: dotnet-memory-leak-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dotnet-memory-leak-app
  template:
    metadata:
      labels:
        app: dotnet-memory-leak-app
    spec:
      shareProcessNamespace: false
      serviceAccountName: dotnet-app-sa
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: dump-storage
          persistentVolumeClaim:
            claimName: coredump-pvc
        - name: tmp-volume
          emptyDir:
            sizeLimit: 1Gi
      containers:
        - name: dotnet-app
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          image: quay.io/rhn_support_arolivei/dotnet-memory-leak-app:v1-base
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args:
            - mkdir -p /app/dumps/tmp && chmod 777 /app/dumps/tmp && exec dotnet /app/DotNetMemoryLeakApp.dll
          ports:
            - containerPort: 8881
              name: http
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:8881"
            - name: COMPlus_DbgEnableElfDumpOnCrash
              value: "1"
            - name: COMPlus_DbgCrashDumpType
              value: "4"
            - name: COMPlus_DbgMiniDumpName
              value: "/app/dumps/core/host-dump.%e.%p.%t.dmp"
            - name: TMPDIR
              value: "/tmp"
          volumeMounts:
            - mountPath: /app/dumps
              name: dump-storage
            - name: tmp-volume
              mountPath: /tmp
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "2Gi"