apiVersion: v1
kind: ServiceAccount
metadata:
  name: secure-app-sa
  namespace: dotnet-memory-leak-app
---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: secure-app-v2
allowPrivilegeEscalation: false
allowedCapabilities: []
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowedFlexVolumes: null
allowedUnsafeSysctls: null
defaultAddCapabilities: []
fsGroup:
  type: RunAsAny
readOnlyRootFilesystem: true
requiredDropCapabilities:
- ALL
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
seccompProfiles:
- runtime/default
volumes:
- configMap
- downwardAPI
- emptyDir
- persistentVolumeClaim
- projected
- secret
users:
- system:serviceaccount:dotnet-memory-leak-app:secure-app-sa
